services:
  - type: web
    name: neurochat-backend
    env: node
    plan: free
    rootDir: backend
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: development
      - key: MONGO_URI
        scope: mongodb+srv://chitranshnigam2000:Saurabh2000@cluster0.qn3tiir.mongodb.net/?appName=Cluster0
      - key: JWT_SECRET
        scope: 2bfb6f206a4bc65d40e1378b0d2b82c0da03e657e63b443989c1e6930895d06d4c74fc85
      - key: GROQ_API_KEY
        scope: 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
      - key: GROQ_BASE_URL
        value: https://api.groq.com/openai/v1
      - key: GROQ_MODEL
        value: llama-3.1-8b-instant
      - key: JWT_EXPIRE
        value: 7d
      - key: PORT
        value: 3000
      - key: CLIENT_URL
        scope: http://localhost:5173
      - key: PUBLIC_URL
        scope: https://59w6g49x-5173.inc1.devtunnels.ms
      - key: BACKEND_PUBLIC_URL
        scope: secret
      - key: MAX_FILE_SIZE
        value: 10485760

# Server Configuration
PORT=8888
NODE_ENV=development

# Local dev frontend
CLIENT_URL=http://localhost:5173
PUBLIC_URL=https://59w6g49x-5173.inc1.devtunnels.ms

# MongoDB Configuration
MONGO_URI=mongodb+srv://chitranshnigam2000:Saurabh2000@cluster0.qn3tiir.mongodb.net/?appName=Cluster0

# JWT Secret
JWT_SECRET=2bfb6f206a4bc65d40e1378b0d2b82c0da03e657e63b443989c1e6930895d06d4c74fc85
JWT_EXPIRE=7d

# OpenAI
GROQ_API_KEY=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
GROQ_API_KEY_BASE=https://console.groq.com/keys
GROQ_MODEL=llama-3.1-8b-instant

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

# File Upload
MAX_FILE_SIZE=10485760
UPLOAD_DIR=./uploads vbfngdw

